<div class="mobile-menu-btn" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></div>

<div class="logo-area">
    <i class="fa-solid fa-scale-balanced" style="color:#00E676;"></i> 
    <span class="logo-text">NYAYI</span>
</div>

<div class="nav-actions">
    <div class="nav-icon" onclick="toggleTheme()" title="Eye Comfort Mode">
        <i class="fa-solid fa-moon"></i>
    </div>
    <button class="sos-btn" onclick="triggerSOS()">
        <i class="fa-solid fa-bell"></i> SOS
    </button>
    <img src="" id="headerAvatar" class="user-avatar" onclick="openSettings()">
</div>